= simple_form_for ([@lunch_order, @customer_order]), url: lunch_order_customer_order_path do |f|
  = f.input :user_id
  = f.input :lunch_order_id
  = f.input :product_id
  = f.submit
  = link_to 'Back To Index', lunch_order_customer_orders_path
