%table.table.table-responsive.table-striped
  %tr
    %th Customer
    %th Date
    %th Product
    %th Price
  - @customer_orders.each do |customer_order|
    %tr
      %td= current_user.email
      %td= customer_order.lunch_order.order_date
      %td= customer_order.product.name
      %td= customer_order.product.price
      %td.text-right
        = link_to 'Show', customer_order_path(customer_order), class: 'btn btn-info'
        = link_to 'Cancel', customer_order_cancel_path(customer_order), class: 'btn btn-danger'
%hr
  Total price:
  = bill_total(@customer_orders)
