%p
  %strong Customer:
  = @customer_order.user.email
%p
  %strong Date/Time:
  = @customer_order.lunch_order.order_date
%p
  %strong Lunch:
  = @customer_order.product.name
%p
  %strong Bill:
  = @customer_order.product.price
= link_to 'Back To Index', customer_orders_path
