= simple_form_for @menu, html: { multipart: true} do |f|
  = f.date_select :menu_date, default: Date.today
  = f.input :product_ids, input_html: { multiple: true, size: Product.enabled.count }, collection: Product.enabled.pluck(:name, :id), selected: f.object.product_ids
  = f.input :created_by, as: :hidden, input_html: { value: current_user.id }
  = f.button :submit
