%nav.navbar.navbar-default
  .container
    .row
      .col-sm-12
        .navbar-header
          %h1=app_name
    .row
      .col-sm-12
        %ul.nav.navbar-nav
          %li= link_to 'Home', root_path
          - if can? :manage, Category
            %li= link_to 'Categories', categories_path
          - if can? :manage, Product
            %li= link_to 'Products', products_path
          - if can? :manage, Menu
            %li= link_to 'Menus', menus_path
          - if can? :manage, User
            %li= link_to 'Users', users_path
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            = link_to current_user.email, '', class: 'btn btn-secondary dropdown-toggle', aria: { expanded: false, haspopup: true }, data: { toggle: :dropdown }, role: :button
            .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
              = link_to 'Edit menu', edit_menu_path(current_user), class: 'dropdown-item'
              %br
              = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
          %li= link_to 'Your Orders', customer_orders_path
          %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
  .container
