- if @menu.presence
  .cardborder-success.mb-3
    .card-header
      %h4.bold
        Date: 
        = @menu.menu_name
      %hr
    .card-body
      = simple_form_for :customer_order_item, url: customer_orders_path, html: { multipart: true} do |f|
        %table.table.table-responsive.table-striped
          %h4 
          %tr
            %th 
            %th Product Name
            %th Price
            %th Quatity
          - @menu.products.each do |product|
            %tr
              %td= f.check_box :selected_products, value: product.id
              %td= product.name
              %td= product.price
              %td= f.input :quatity, as: :integer, label: false, input_html: { value: 0 }
        = f.button :submit, 'Confirm Order'
- else 
  %h3 Menu is not presence!!!
