= simple_form_for @product, html: { multipart: true} do |f|
  = f.input :name, label: 'Product name'
  = f.input :description
  = f.input :price
  = f.input :enabled, as: :boolean
  = f.input :quatity
  = f.button :submit
  