= simple_form_for @product, html: { multipart: true} do |f|
  = f.input :category_id, collection: category_list, label_method: :first, value_method: :second
  = f.input :name, label: 'Product Name', require: true
  = f.input :description, require: true
  = f.input :price, require: true
  = f.input :enabled, as: :boolean
  = f.input :quatity, require: true
  = f.button :submit
