.col-md-8
  .book-info
    %h2.book-title
      = @product.name
    %h3.book-author
      = @product.description
    %p.span.number-of-reviews
      = "Price: #{@product.price}"
    %p.span.number-of-reviews
      = "Quality: #{@product.quatity}"
    %p.span.number-of-reviews
      = "Enabled: #{@product.enabled}"
    
  .links.btn-group
    = link_to 'Back To Index', products_path, class: 'btn btn-custom'
    - if user_can_edit_product
      = link_to 'Edit', edit_product_path(@product) , class: 'btn btn-custom'
      = link_to 'Delete', product_path(@product), method: :delete, data: {confirm: 'Are you sure?'} , class: 'btn btn-custom'
