!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title Home Page
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = link_to 'Category', categories_path , class: 'navbar-brand'
          = link_to 'Home Page', products_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li= link_to 'Sign Up', new_user_registration_path
          - if user_signed_in?
            %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
          - else
            %li
              = link_to 'Log In', new_user_session_path
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to 'Add Product', new_product_path
    %p.notice= notice
    %p.alert= alert
    .container
      = yield
